/* Forms */
.sta {
  .label {
    color: $labelColor;
    display: inline-block;
    width: 140px;
  }

  .text-feeld {
    width: calc(100% - 145px);
    color: $labelColor;
    border-bottom: 2px solid $borderColor;
  }

  .numeric-entry {
    color: $inputColor;
  }

  select {
    color: $inputColor;
  }

  select option {
    background: $background;
  }
}