.sta.tracker-container{
  position: absolute;
  bottom: 10px;
  right: 354px;
  width: 200px;
  height: 205px;

  -webkit-transition: width 0.5s linear;
  -moz-transition: width 0.5s linear;
    -ms-transition: width 0.5s linear;
      -o-transition: width 0.5s linear;
        transition: width 0.5s linear;

  .tracker-clickable {
    position: absolute;
    bottom: 195px;
    cursor: pointer;
    color: $buttonColor2;
    width: 15px;

    i:hover {
      color: $buttonHover2;
    }

    i.hide {
      width: 0px;
      display: none;
    }
  }

  &.hide {
    width: 15px;
    -webkit-transition: width 0.5s linear;
      -moz-transition: width 0.5s linear;
        -ms-transition: width 0.5s linear;
          -o-transition: width 0.5s linear;
            transition: width 0.5s linear;
  }

  .tracker {
    position: absolute;
    display: block;
    margin-right: 0px;
    height: 100px;
    width: 220px;
    background: none;
    border-radius: 30px;
    // border-top-left-radius: 30px;
    // border-bottom-left-radius: 30px;
    padding: 0px;
    clip-path: inset(-20px 0px -20px -20px);
  
    &.threat {
      bottom: 0px;
      background-color: map-get($lcarsColors, "brightred");
    }
  
    &.momentum {
      bottom: 105px;
      background-color: map-get($lcarsColors, "blue");
    }
  
    .header {
      text-align: center;
      font-size: 1.75em;
      text-transform: uppercase;
      color: $labelColor;
      background-color: $background;
      border-bottom-left-radius: 30px;
      width: 185px;
      height: 35px;
      margin-left: 15px;
      margin-bottom: 15px;
    }
  
    .button-group {
      display: flex;
      font-size: 1.5em;
      background-color: $background;
      border-top-left-radius: 30px;
      width: 185px;
      height: 35px;
      margin-left: 15px;
      margin-top: 15px;
  
      .button {
        color: $buttonColor;
        i:hover {
          cursor: pointer;
          color: $buttonHover;
        }
  
        &.decrease {
          padding-left: 50px;
          padding-right: 10px;
        }
  
        &.increase {
          padding-left: 10px;
          padding-right: 50px;
        }
      }
      
      input {
        color: $inputColor;
        text-align: center;
        border: none;
        width: 100%;
      }
    }
  }
}

#ui-right ~ .sta.tracker-container.collapsed {
  right: 0px
}