/* Window Content Overrides */
.sta {
  .window-content {
    background: $background !important;
    padding: 0;
  }

  .main-content {
    background: $background !important;
    padding: 5px;
  }
}