/* Actor Sheet */ /*#region*/
.sheet-character {
  padding: 5px;

  .window-app.sta .window-content & {
    background: $background;
  }

  .startrek-icon {
    position: absolute;
    left: 0;
    top: 35px;
  }

  .label {
    &.l-w135 {
      width: 135px;
    }
  }

  .text-feeld {
    width: calc(100% - 140px);
    border-bottom: 2px solid $borderColor;
  }

  .sheet-header {
    grid-area: header;

  }

  .char-headline {
    color: #ff9900;
    text-align: right;
    text-transform: uppercase;
  }

  .name-wp {
    grid-area: name;
  }

  .species-wp {
    grid-area: species;
  }

  .rank-wp {
    grid-area: rank;
  }

  .enviroment-wp {
    grid-area: enviroment;
  }

  .upbringing-wp {
    grid-area: upbringing;
  }

  .assignment-wp {
    grid-area: assignment;
  }

  .traits-wp {
    grid-area: traits;
  }
 
  .sheet {

    &-ability {

      &-area-label {
        flex: 0 170px;
      }
      
      &-wp {
        background-image: linear-gradient(
          to right, 
          #9999cc,
          #9999cc 70%,
          $background 70%,
          $background 71%,
          #9999cc 71%
        );
        border-top-left-radius: 130px;
        padding-top: 20px;
        padding-left: 80px;
        margin-bottom: 10px;
      }

      &-inner {
        display: flex;
        background: $background;
        padding: 10px 0 0 10px;
        border-top-left-radius: 10px;
      }

      &-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }

      &-element {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }

      &-checkbox {
        width: 100px;
        display: inherit;
      }

      &-label-text {
        cursor: pointer;
        color: #fff;
        background: #9676a9;
        text-align: right;
        padding: 5px 4px 4px 5px;
        margin-right: 4px;
        border-top-left-radius: 14px;
        border-bottom-left-radius: 14px;
        width: 90px;
        &:hover {
          box-shadow: 2px 2px #888888;
          background-color: #c3bcde;
        }
      }

      &-input {
        width: 33px;
        padding: 0;
        margin: 0;
        border: 1px solid;
        text-align: center;
        border-top-right-radius: 14px;
        border-bottom-right-radius: 14px;

        &-checkbox {
          position: absolute;
          display: none;
          &:checked + .sheet-ability-label-text{
            background: #c3bcde;
          }
        }
      }
      
      &-focus {
        &-area {
          display: flex;
        }

        &-inner {
          display: flex;
          flex: 0 170px;
          justify-content: space-evenly;

          &.is-start {
            justify-content: flex-start;
          }
        }

        &-label {
          cursor: pointer;
          color: $editorBackground;
          width: 20px;
          text-align: center;
          &:hover {
            color: $chatText;
            box-shadow: 2px 2px #888888;
            background-color: #c3bcde;
          }
        }

        &-radio {
          position: absolute;
          display: none;
          &:checked + .sheet-ability-focus-label{
            color: $labelColor;
          }
        }
      }
    }

    &-char {

      &-add {
        margin-top: 2px;
      }

      &-focus {
        margin-top: 10px;
      }

      &-focuses {
        height: 284px;
        max-height: 284px;
        overflow: auto;
        padding: 4px 0;
      }

      &-info {
        background-image: linear-gradient(
          to bottom, 
          #9676a9,
          #9676a9 30%,
          $background 30%,
          $background 33%,
          #9999cc 33%
        );
        padding-left: 80px;

        .sheet-ability-inner {
          border-top-left-radius: 0;
        }
      }

      &-values {
        height: 145px;
        max-height: 145px;
        overflow: auto;
        padding: 4px 0;
      }
    }

    &-determinations,
    &-efforts {
      justify-content: space-around;
      margin-bottom: 10px;
      &-checkbox {
        display: none;

        &:checked {
          +.sheet-determinations-checkbox-label {
            background-color: $inputColor;
            &:hover {
              background-color: #c3bcde;
              box-shadow: 2px 2px #888888;
            }
          }
        }

        &-label {
          cursor: pointer;
          border: 1px solid $inputColor;
          border-radius: 2em;
          max-width: 115px;
          width: 100%;
          height: 25px;
          &:hover {
            box-shadow: 2px 2px #888888;
            background-color: #c3bcde;
            cursor: pointer;
          }
        }
      }
    }
    &-efforts-checkbox-label {
      max-width: 25px;
    }

    &-left-wp {
      width: calc(60% - 50px);
    }

    &-right-wp {
      flex: 1;
      margin-left: 30px;
    }

    &-section-headline {
      background: #f59d08;
      border-radius: 2em;
      color: #a34071;
    }

    &-section {
      &-h3 {
        text-transform: uppercase;
        margin-left: 20px;
        max-width: fit-content;
        background: $background;
        padding: 0 5px;
      }
    }

    &-topsection-inner {
      background: $background;
      padding: 0 0 10px 10px;
      border-bottom-left-radius: 10px;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 20% 30px 30px 30px 30px 30px;
      row-gap: 2px;
      grid-template-areas: 
      "header header header header"
      "name name name name"
      "species species rank rank"
      "enviroment enviroment upbringing upbringing"
      "assignment assignment assignment assignment"
      "traits traits traits traits"
    }

    &-topsection {
      position: relative;
      background-image: linear-gradient(
        to right, 
        $linearGradient,
        $linearGradient 70%,
        $background 70%,
        $background 71%,
        $linearGradient 71%
      );
      padding-left: 80px;
      padding-bottom: 26px;
      border-bottom-left-radius: 130px;
      margin-bottom: 10px
    }
  }
}

.sta.sheet.actor {
  /* Colors */
  .title {
    height: 30px;
    color: $headerColor;
  }

  .list-entry,
  .editor, {
    color: $labelColor;
  }

  .editor .editor-edit {
    color: $editorText;
  }

  .tox.tox-tinymce .tox-edit-area__iframe {
    background-color: $editorBackground;
  }

  .secondary-title {
    color: $inlaidText;
  }

  .numeric-entry,
  .text-entry {
    color: $inputColor;
  }

  /* Trackbars */
  .track {
    display: flex;
    flex-direction: row;

    .bar:not(.extendedtask) {
      width: 100%;
      display: flex;
      flex-direction: row;
    }
  }

  .track .bar .box {
    height: 14px;
    border: 1px solid $trackbarBorders;
    border-radius: 14px;
    border-collapse: collapse;
    padding: 0px;
    display: block;
    font-size: 8pt;
    text-align: center;
    font-weight: bold;

    &:hover {
      box-shadow: 0 0 8px $buttonHover;
      cursor: pointer;
    }

    &.stress {
      background-color: map-get($trackColors, "stress");
      color: $inlaidText;

      &.selected {
        background-color: map-get($trackColors, "stressSelected");
        color: $chatText;
      }
    }

    &.determination {
      background-color: map-get($trackColors, "determination");
      color: $chatText;

      &.selected {
        background-color: map-get($trackColors, "determinationSelected");
        color: $inlaidText;
      }
    }

    &.rep {
      background-color: map-get($trackColors, "rep");
      color: $chatText;

      &.selected {
        background-color: map-get($trackColors, "repSelected");
        color: $inlaidText;
      }
    }

    &.shields {
      background-color: map-get($trackColors, "shields");
      color: $inlaidText;

      &.selected {
        background-color: map-get($trackColors, "shieldsSelected");
        color: $chatText;
      }
    }

    &.power {
      background-color: map-get($trackColors, "power");
      color: $chatText;

      &.selected {
        background-color: map-get($trackColors, "powerSelected");
        color: $inlaidText;
      }
    }

    &.crew {
      background-color: map-get($trackColors, "crew");
      color: $chatText;

      &.selected {
        background-color: map-get($trackColors, "crewSelected");
        color: $inlaidText;
      }
    }

    &.extendedtask {
      height: 28px;
      font-size: 16pt;
      background-color: map-get($trackColors, "extendedtask");
      color: $chatText;

      &.selected {
        background-color: map-get($trackColors, "extendedtaskSelected");
        color: $inlaidText;
      }
    }
  }

  /* Layout - Main/Attributes */
  .header-fields {
    flex: 90%;
    top: 0;
    padding: 5px;

    .row .column {
      display: flex;
      width: 100%;
    }

    .section.reputation .title {
      font-size: 14px;
    }
  }

  .main {
    flex: 1;

    .row {
      max-height: 300px;

      .limited-only {
        height: 20px;
      }

      .column {
        flex: 30%;
        overflow-y: auto;

        .section {
          .header.row {
            background-color: map-get($lcarsColors, "lcarsheader");
            color: $inlaidText;
            font-weight: bold;
            padding-left: 2px;
            padding-right: 2px;
            border-bottom: 2px solid $background;
          }

          .profile-img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            object-position: 50% 0;
          }

          .title {
            font-size: 18pt;
          }

          .row {
            display: flex;
            flex-direction: row;
          }

          .entry.row {
            display: flex;
            flex-direction: row;
          }

          .note,
          .milestone,
          .injury {
            height: 200px;
            text-align: left;

            .editor {
              height: 100%;
              padding: 5px;
            }
          }

          /* Attributes/Disciplines */

          .stat.row {
            .field {
              width: 20%;
            }

            .text {
              width: calc(80% - 30px);
            }

            .selector-space {
              width: 30px;
            }

            .selector {
              border: 1px solid;
              border-collapse: collapse;
              padding: 0px;
              display: block;
            }

            .selector:hover {
              box-shadow: none;
              cursor: pointer;
            }
          }

          .check-button {
            width: 75%;
            height: 30px;
            line-height: 30px;
            margin: 5px 12.5%;
            font-size: 14pt;
          }
        }

        .section.scale,
        .section.resistance {
          display: flex;
          background-color: map-get($lcarsColors, "purple");
          height: 41px;

          .title {
            background-color: $background;
            width: 75%;
            margin-top: 5px;
          }

          .field.numeric-entry {
            width: 15%;
            height: 30px;
            border: none;
            border-radius: 0px;
            margin-top: 5px;
            background-color: $background;
          }
        }

        .section.scale .title {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          margin-left: 10%;
        }

        .section.resistance .field.numeric-entry {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          margin-right: 10%;
        }
      }
    }
  }

  .column.left-column {
    border-right: 2px solid $background;
  }

  .column.center-column {
    border-right: 2px solid $background;
    border-left: 2px solid $background;
  }

  .column.right-column {
    border-left: 2px solid $background;
  }

  /* Layout - Owned Items */
  .main {
    .row {
      .column {
        .section {
          .row {
            .image {
              width: 26px;

              img {
                width: 24px;
                height: 24px;
                object-fit: cover;
                object-position: 50% 0;
              }

              .rollable:hover {
                content: url("/icons/svg/d20-grey.svg");
                box-shadow: none;
                cursor: pointer;
              }

              .chat:hover {
                content: url("/systems/sta-ng/assets/icons/svg/chat-bubble.svg");
                box-shadow: none;
                cursor: pointer;
              }

              .click-to-nav {
                cursor: pointer;
              }
            }

            .control {
              color: $buttonColor;
              width: 40px;
              padding-right: 2px;
            }

            .delete {
              color: $buttonColor2;

              &:hover {
                color: $buttonHover;
                text-shadow: none;
              }
            }

            .add,
            .edit {
              &:hover {
                color: $buttonHover2;
                text-shadow: none;
              }
            }

            .one-column-with-roll {
              width: calc(100% - 58px);
            }

            .one-column-no-roll {
              width: calc(100% - 32px);
            }

            .two-column-with-roll-primary {
              width: calc((100% - 58px) * 0.75);
            }

            .two-column-with-roll-secondary {
              width: calc((100% - 58px) * 0.25);
            }

            .column-x2 {
              width: 90%;
              padding-left: 10%;
            }

            .small input {
              height: 17px;
              color: $inputColor;
            }

            .small.disabled input {
              box-shadow: none;
              cursor: default;
              color: grey;
            }

            .list-entry.strike-through {
              text-decoration: line-through;
            }
          }
        }

        .value-used {
          height: 17px;
        }

        .row.equipable {
          .control {
            width: 56px;
          }
        }

        /*  Actor - Talent Tooltips */
        .entry.row.talent-tooltip-container {
          overflow-y: hidden;
          border: 0.5px dashed $separatorBorders;
          height: 200px;
          -webkit-transition: height 0.5s linear, border-width 0.5s linear;
          -moz-transition: height 0.5s linear, border-width 0.5s linear;
          -ms-transition: height 0.5s linear, border-width 0.5s linear;
          -o-transition: height 0.5s linear, border-width 0.5s linear;
          transition: height 0.5s linear, border-width 0.5s linear;
          &.hide {
            border: 0px dashed $separatorBorders;
            height: 0px;
            -webkit-transition: height 0.5s linear, border-width 0.5s linear;
            -moz-transition: height 0.5s linear, border-width 0.5s linear;
            -ms-transition: height 0.5s linear, border-width 0.5s linear;
            -o-transition: height 0.5s linear, border-width 0.5s linear;
            transition: height 0.5s linear, border-width 0.5s linear;
          }
        }
      }
    }
  }

  /* Extended Tasks */
  .row {
    .column-headerfields1-name-extendedtasks {
      width: 60%;
      padding-left: 5%;
      padding-right: 5%;

      .numeric-entry {
        width: 50%;
        margin-right: 25%;
        margin-left: 25%;
      }
    }

    .column-headerfields1-other-extendedtasks {
      width: 15%;

      .numeric-entry {
        width: 50%;
        margin-right: 25%;
        margin-left: 25%;
      }
    }

    .column-headerfields2-extendedtasks {
      width: 30%;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 2px;

      .numeric-entry {
        width: 50%;
        margin-right: 25%;
        margin-left: 25%;
      }
    }

    .extendedtask.track {
      width: 90%;
    }
  }

  .extendedtask-divider {
    background-color: map-get($lcarsColors, "lcarsheader");
    height: 17px;
    width: 100%;
    color: $background;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
  }
}
/*#endregion*/